p, h1, h2, h3, h4, h5, h6, li {
  font-family: "Arial";
}

#logoText {
  font-family: 'Lobster', cursive;
  padding-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#topNav {
  background-color: #f7b756;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

#mainContainer {
  margin-top: 60px;
}

#drinksListContainer {
  float: left;
  width: 70%;
}

#recipeDiv {
  width: 25%;
  top: 60px;
  right: 15px;
  position: fixed;
}

.container {
  max-width: 90%;
  margin: auto;
}

.drinkDiv {
  background-color: #fcf8ef;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.drinkThumbnail {
  float: right;
  border: 1px solid lightgray;
  border-radius: 10px;
  max-width: 100px;
  margin-right: 5px;
}

.exampleList {
  text-indent: 10px;
  margin: -2px -2px -2px 0;
}

.hed {
  border-bottom: 1px solid black;
}

.ingredientsList {
  font-family: 'Arial';
  list-style-type: none;
}

.ingredientsSubhed {
  margin-bottom: -10px;
}

.submittedDate {
  font-size: 10px;
  font-weight: lighter;
  text-align: right;
}

.userNotice {
  background-color: #dbfce4;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;;
}

input, button, textarea {
  font-size: 18px;
  width: 90%;
  margin-top: 10px;
}
