body {
  background-color: #f4f4f2;
}

input, textarea {
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
}

.drinksList {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.exampleList {
  padding-left: 15px;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.ingredientsList {
  list-style: none;
  padding-left: 0
}

.ingredientsSubhed {
  margin-bottom: -1px;
}

.likesP, .likesP-liked {
  float: left;
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 6px;
  border-radius: 10px;
  font-size: 20px;
}

.submittedDate {
  font-size: 10px;
  font-weight: lighter;
  text-align: right;
}

.userCredit {
  text-align: right;
  font-size: 12px;
}

.userNotice {
  background-color: #dbfce4;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;;
}

#addDrinkButtonDiv {
  float: right;
  margin-top: 2px;
}

#addIngredientButton {
  float: right;
  margin-top: 4px;
}

#drinkSubmitButton {
  float: right;
}

#loadingDiv {
  margin: auto;
  margin-top: 150px;
}

#logoText {
  font-size: 34px;
  font-family: 'Lobster', cursive;
}

#mainContainer {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

#signInArrow {
  margin-left: 3px;
  margin-right: 3px;
}

#topNav {
  background-color: #f7b756;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
}
