p, h1, h2, h3, h4, h5, h6, li {
  font-family: "Arial";
}

#logoText {
  font-family: 'Lobster', cursive;
  padding-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#topNav {
  background-color: #f7b756;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

.container {
  max-width: 90%;
  margin: auto;
}

#mainContainer {
  margin-top: 60px;
}

#drinksList {
  float: left;
  width: 70%;
}

#recipeDiv {
  width: 25%;
  top: 60px;
  right: 15px;
  position: fixed;
}

.ingredientsList {
  list-style-type: none;
}

.exampleList {
  text-indent: 20px;
}

.drinkThumbnail {
  float: left;
  border: 1px solid black;
  max-width: 100px;
  margin-right: 10px;
}

.drinkDiv {
  margin-bottom: 40px
}

input, button, textarea {
  font-size: 18px;
  width: 90%;
  margin-top: 10px;
}
